.layout-header {
    height: 40px;
}

.layout-header>a {
    padding-top: 0px;
}

.bg-light {
    background-color: #f8f7f7 !important;
}

.custom-btn {
    text-decoration: none;
    color: grey;
    padding: 0px;
}

.custom-btn:focus {
    outline: none;
    box-shadow: none;
}