<div class="card bg-white justify-content-between border-none page-details">
    <div class="card-header custom-header">
        <div class="row">
            <div class="col-md-10 col-xs-12">
                <app-breadcrumb></app-breadcrumb>
            </div>
            <div class="col-md-2 col-xs-12">
                <button class="pull-right btn btn-sm btn-primary col-12" [hidden]="showSiteBtn" (click)="addNewSite()">Add New Site</button>
            </div>
        </div>
    </div>
</div>

<div class="card bg-white border-none customer-details" [hidden]="showSiteDetail">
    <div class="card-header custom-header">
        <div class="row site-details">
            <div class="col-md-2 col-xs-12">
                <label>Customer: </label> <b> {{siteDetails.customer}}</b>
            </div>
            <div class="col-md-3 col-xs-12">
                <label>Site Name: </label> <b> {{siteDetails.siteName}}</b>
            </div>
            <div class="col-md-7 col-xs-12">
                <label>Location: </label>
                    <span class="fa fa-map-marker text-primary map-marker">
                    </span>
                    <span class="map-address">{{siteDetails.location}}</span>
            </div>
        </div>
    </div>
</div>