<div class="left-menu bg-black">
    <ul class="menu-lists">
        <div class="test" *ngFor="let menuInfo of mainNavMenuList; let i = index"
            [ngClass]="{'active': menuInfo.isActive}">
            <li routerLink="{{menuInfo.route}}" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}" (mouseenter)="toggleMenu(menuInfo?.submenu);">
                <a>
                    <span><i [className]="'fa fa-' + menuInfo?.iconName"></i></span>
                    <p>{{menuInfo.displayName}}</p>
                </a>
            </li>
        </div>
    </ul>
</div>