<div class="clearfix"></div>
<div class="custom-footer" [ngClass]="{'custom-width' : isSideMenuVisible}">
    <hr />
    <div class="container-fluid mt-4">
        <div class="row justify-content-between hide-overflow">
            <div class="col-md-2 col-xs-2 pull-left">
                <button class="ml-1 btn btn-sm btn-secondary col-md-12 col-xs-12" [hidden]="!prevBtnLabel" (click)="prev()"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{prevBtnLabel}}</button>
            </div>
            <div class="col-md-2 col-xs-2 pull-right text-right">
                <button class="mr-3 btn btn-sm btn-primary col-md-12 col-xs-12" [disabled]="nxtBtn" (click)="next()">{{nxtBtnLabel}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>