<div class="clearfix"></div>
<div class="fixed-bottom custom-footer">
    <hr />
    <div class="container-fluid mt-4">
        <div class="row justify-content-between">
            <div class="col-md-2 col-xs-2 pull-left">
                <button class="ml-3 btn btn-sm btn-secondary col-md-12 col-xs-12">Prev</button>
            </div>
            <div class="col-md-2 col-xs-2 pull-right text-right">
                <button class="mr-3 btn btn-sm btn-primary col-md-12 col-xs-12">Next</button>
            </div>
        </div>
    </div>
</div>