.btn-circle {
    width: 30px;
    height: 30px;
    line-height: 15px;
    padding: 7px 0px;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    border: 2px solid #000;
    display: block;
    color: #000;
  }
  
  .custom-file-input:lang(en)~.custom-file-label::after {
    font-family: FontAwesome;
    content: '\f07c  Browse';
  }
  
  