<div class="card">
    <div class="card-body">
        <!-- <so-file-import [fileUploadLable]="fileLable" [fileType]="fileType" [importedFile]="importedFile"
            [sampleFileName]="sampleFileName" [supportedFiles]="supportedFiles" [tooltipInfo]="tooltipInfo"></so-file-import> -->
            <so-import-file [form]="form" [config]="config" [fileType]="fileType"
            [importedFile]="importedFile" [sampleFileName]="sampleFileName" [supportedFiles]="supportedFiles"
            [tooltipInfo]="tooltipInfo"></so-import-file>
    </div>

</div>