<div class="side-menu">
    <div [ngClass]="show ? 'active' : 'hide'" [hidden]="!show" class="menu-wrapper">
        <header>
            <div class="pull-right text-white menu-hide">
                <button class="btn btn-sm btn-circle btn-default bg-white" (click)="hideMenu();"><span class="fa fa-angle-left" aria-hidden="true"></span></button>
            </div>
            <nav class="nav" role="navigation">
                <ul class="nav__list">
                    <li *ngFor="let menulist of submenuList; let indexOfelement = index;" [class.disabled]="menulist.disabled" [class.unDisable]="currentPage == menulist.page || currentPage > menulist.page"  routerLink="{{menulist.route}}" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" (click)="hideSubMenu(menulist?.firstLevel);">
                        <input id="group-{{indexOfelement+1}}" type="checkbox" hidden />
                        <label for="group-{{indexOfelement+1}}">
                            <i class="text-danger fa fa-times-circle"></i>
                            <span class="fa fa-caret-right" *ngIf="menulist?.firstLevel.length > 0"></span> {{menulist.displayName}} </label>
                        <ul class="group-list" *ngIf="menulist.firstLevel.length > 0">
                            <li *ngFor="let levelMenu of menulist?.firstLevel; let indexOfelement = index;"
                                routerLink="{{levelMenu.route}}" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{exact: true}" (click)="hideSubMenu(levelMenu.children);">
                                <a *ngIf="!levelMenu.children"><i class="text-danger fa fa-times-circle"></i>
                                    {{levelMenu.displayName}}</a>
                                <input *ngIf="levelMenu.children && levelMenu.children.length > 0"
                                    id="sub-group-{{indexOfelement+1}}" type="checkbox" hidden />
                                <label *ngIf="levelMenu.children && levelMenu.children?.length > 0"
                                    for="sub-group-{{indexOfelement+1}}">
                                    <i class="text-danger fa fa-times-circle"></i>
                                    <span class="fa fa-caret-right"></span> {{levelMenu.displayName}}</label>

                                <ul *ngIf="levelMenu.children && levelMenu.children.length > 0" class="sub-group-list">
                                    <li *ngFor="let secondLevel of levelMenu.children; let indexOfelement = index;"
                                        routerLink="{{secondLevel.route}}" [routerLinkActive]="['active']"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        (click)="hideSubMenu(levelMenu.children);"><a *ngIf="!secondLevel?.subChildren">
                                            <i class="text-danger fa fa-times-circle"></i>
                                            {{secondLevel.displayName}}</a>
                                        <input *ngIf="secondLevel.subChildren && secondLevel.subChildren.length > 0"
                                            id="sub-sub-group-{{indexOfelement+1}}" type="checkbox" hidden />
                                        <label *ngIf="secondLevel.subChildren && secondLevel.subChildren.length > 0"
                                            for="sub-sub-group-{{indexOfelement+1}}"><i
                                                class="text-danger fa fa-times-circle"></i>
                                            <span class="fa fa-caret-right"></span>
                                            {{secondLevel.displayName}} </label>
                                        <ul *ngIf="secondLevel.subChildren && secondLevel.subChildren.length > 0"
                                            class="sub-sub-group-list">
                                            <li *ngFor="let thirdLevel of secondLevel?.subChildren; let indexOfelement = index;"
                                                routerLink="{{thirdLevel.route}}" [routerLinkActive]="['active']"
                                                [routerLinkActiveOptions]="{exact: true}"
                                                (click)="hideSubMenu(thirdLevel.subChildren);">
                                                <a> <i
                                                        class="text-danger fa fa-times-circle"></i>{{thirdLevel.displayName}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    </div>


    <button [hidden]="showSideMenu" class="btn btn-sm btn-circle btn-default menu-show bg-white" (click)="showMenu()"> <span class="fa fa-angle-right"
            aria-hidden="true"></span></button>

</div>
